/* main */
.wrapper {
    margin: 0 auto;
    max-width: 720px;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }